{% extends 'yeoradamain/base.html' %}
{% block content1 %}
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link href="/static/images/fav.png" rel="shortcut icon" type="image/x-icon"/>

    <title>YeOrada | Settings</title>

    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <link href="/static/mega.menu.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.css" rel="stylesheet">

    <!-- Owl Carousel for this template-->
    <link rel="stylesheet" href="/static/assets/owlcarousel/assets/owl.carousel.min.css">

    <!-- Fontawesome styles for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content2 %}

	<!--title-bar start-->
	<section class="title-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="left-title-text">
                        <ul>
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                            </ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="right-title-text">

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--title-bar end-->

	<!--frequently-asked-questions start-->
	<section class="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="new-heading text-center">
						<h1>Frequently asked questions (FAQ)</h1>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-12">
					<div class="faq-items">
						<button class="faq-accordion">01. Is there a fee to be a member?</button>
						<div class="panel">
							<p>Being a member of YeOrada is free.</p>
						</div>

						<button class="faq-accordion">02. How can I become a member?</button>
						<div class="panel">
							<p>To become a member of YeOrada, click the 'Register' button on our homepage and fill out the necessary fields on the page.</p>
						</div>

						<button class="faq-accordion">03. How can I cancel my membership?</button>
						<div class="panel">
							<p>You can disable your account and all its data directly from our website by selecting "Settings > Deactivate Account". After entering your e-mail on the page that opens, click the "Deactivate Account" button.</p>
						</div>

						<button class="faq-accordion">04. I want to change my password. What should I do?</button>
						<div class="panel">
							<p>You can change your password by selecting "Settings > Change Password". After entering your old password and new password twice on the page that opens, click the "Change Password" button.</p>
						</div>

						<button class="faq-accordion">05. How do I change my e-mail address?</button>
						<div class="panel">
							<p>You can't change your email address in YeOrada but you can open a new account with a new email address.</p>
						</div>

						<button class="faq-accordion">06.How do I find the restaurant I want in your site?</button>
						<div class="panel">
							<p>You can find the restorant you want in YeOrada using the "Find Restaurant" button with "Location" and "Restaurant name" filters on the home page of the YeOrada.</p>
						</div>

						<button class="faq-accordion">07. How is the assurance of user information for YeOrada?</button>
						<div class="panel">
							<p>Your information (e-mail, phone number etc..) is not be shared with third parties in any way.</p>
						</div>

                        <button class="faq-accordion">08. How do I add my restaurant to the site?</button>
						<div class="panel">
							<p>If you are the owner of a restaurant not listed on YeOrada, Click on 'Become a Partner' Button. On the page that opens, fill out the form and send to us.
                                Once you send the corresponding form, our customer representatives will verify it and if everything is alright you will receive an email about confirmation.</p>
						</div>

                        <button class="faq-accordion">09. Can I order food from the restaurant I selected?</button>
						<div class="panel">
							<p>No, you cannot order food or anything on YeOrada.</p>
						</div>

                        <button class="faq-accordion">10. How do I know if a restaurant is good?</button>
						<div class="panel">
							<p>You can look into the rates and reviews written by the users on the restaurants profiles.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--frequently-asked-questions end-->

{% endblock %}
{% block content3 %}
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
	 <!-- Assect scripts for this page-->
	<script src="/static/assets/owlcarousel/owl.carousel.js"></script>
	<script src="/static/js/owlslider.js"></script>
	<script>
	var acc = document.getElementsByClassName("faq-accordion");
	var i;
	
	for(i = 0; i < acc.length; i++){
		acc[i].addEventListener("click", function(){
		this.classList.toggle("active");
		
			var panel = this.nextElementSibling;
			if(panel.style.display === "block"){
				panel.style.display = "none";
			} else {
				panel.style.display ="block";
			}
		});
	}
		
	</script>
{% endblock %}
