{% extends 'yeoradamain/base.html' %}
{% load custom_filter %}

{% block content1 %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<!-- Favicon -->
	<link href="/static/images/fav.png" rel="shortcut icon" type="image/x-icon"/>

    <title>Natto | Partners </title>

    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet">
	<link href="/static/css/mega.menu.css" rel="stylesheet">
    
	<!-- Owl Carousel for this template-->
	<link rel="stylesheet" href="/static/assets/owlcarousel/assets/owl.carousel.min.css">
   	
    <!-- Fontawesome styles for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content2 %}
	<!--title-bar start-->
	<section class="title-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="left-title-text">
					<h3>Partners</h3>
					</div>
				</div>
				<div class="col-md-6">
					<div class="right-title-text">  
						<ul>
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Partners</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--title-bar end-->	
	<!--partners start-->
	<section class="all-partners">			
		<div class="container">		
			<div class="row">	
				<div class="col-lg-3 col-md-4">
                    <form method="post">
                        {% csrf_token %}
					<div class="filters partner-bottom">
						<div class="filter-heading">						
							<h3>Filters</h3>
						</div>
						<div class="accordion" id="accordionone">
							<div class="location">
							<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Location</button>
								<div id="collapseOne" class="collapse show" data-parent="#accordionone">
									<div class="search-area">
										<form>
											<input class="search-area-input" name="search" type="text" placeholder="Search your area">
											<div class="icon-btn">
												<div class="cross-area-icon">
													<i class="fas fa-crosshairs"></i>
												</div>										
											</div>										
										</form>
									</div>
									<div class="filter-checkbox">
										<p>
										  <input type="checkbox" id="c1" name="cb">
										  <label for="c1">All</label>
										</p>
										<p>
										  <input type="checkbox" id="c2" name="cb">
										  <label for="c2">Canterbury-Bankstown</label>
										</p>
										<p>
										  <input type="checkbox" id="c3" name="cb">
										  <label for="c3">Central Business District</label>
										</p>
										<p>
										  <input type="checkbox" id="c4" name="cb">
										  <label for="c4">Eastern Suburbs</label>
										</p>
										<p>
										  <input type="checkbox" id="c5" name="cb">
										  <label for="c5">Forest District</label>
										</p>
									</div>									
								</div>
							</div>
						</div>
						<div class="accordion" id="accordiontwo">
							<div class="location">							
								<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Categories</button>
								<div id="collapseTwo" class="collapse" data-parent="#accordiontwo">								
									<div class="filter-checkbox">
										<p>
										  <input type="checkbox" id="c13" name="Restaurant">
										  <label for="c13">Restaurant</label>
										</p>
										<p>
										  <input type="checkbox" id="c14" name="Cafe">
										  <label for="c14">Cafe</label>
										</p>
										<p>
										  <input type="checkbox" id="c15" name="Bar">
										  <label for="c15">Bar</label>
										</p>
									</div>																		
								</div>
							</div>
						</div>
						<div class="accordion" id="accordionthree">
							<div class="location">							
								<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Cuisine</button>
								<div id="collapseThree" class="collapse" data-parent="#accordionthree">									
									<div class="filter-checkbox">
										<p>
										  <input type="checkbox" id="c18" name="Kebap">
										  <label for="c18">Kebap</label>
										</p>
										<p>
										  <input type="checkbox" id="c19" name="Grill">
										  <label for="c19">Grill</label>
										</p>
										<p>
										  <input type="checkbox" id="c20" name="Turkish">
										  <label for="c20">Turkish</label>
										</p>
										<p>
										  <input type="checkbox" id="c21" name="Pide">
										  <label for="c21">Pide</label>
										</p>
										<p>
										  <input type="checkbox" id="c22" name="Döner">
										  <label for="c22">Döner</label>
										</p>
										<p>
										  <input type="checkbox" id="c23" name="Fast Food">
										  <label for="c23">Fastfood</label>
										</p>
										<p>
										  <input type="checkbox" id="c24" name="Homemade">
										  <label for="c24">Homemade</label>
										</p>
										<p>
										  <input type="checkbox" id="c25" name="Seafood">
										  <label for="c25">Seafood</label>
										</p>														
										<p>
										  <input type="checkbox" id="c26" name="Lunch">
										  <label for="c26">Lunch</label>
										</p>
										<p>
										  <input type="checkbox" id="c27" name="Breakfast">
										  <label for="c27">Breakfast</label>
										</p>
										<p>
										  <input type="checkbox" id="c28" name="Dinner">
										  <label for="c28">Dinner</label>
										</p>
										<p>
										  <input type="checkbox" id="c29" name="Pizza">
										  <label for="c29">Pizza</label>
										</p>
                                        <p>
										  <input type="checkbox" id="c30c1" name="CafeRestaurant">
										  <label for="c30c1">Cafe & Restaurant</label>
										</p>
                                        <p>
										  <input type="checkbox" id="c31c2" name="Chinese">
										  <label for="c31c2">Chinese</label>
										</p>
                                        <p>
										  <input type="checkbox" id="c32c3" name="Korean">
										  <label for="c32c3">Korean</label>
										</p>
									</div>																		
								</div>
							</div>
						</div>
						<div class="accordion" id="accordionfour" hidden>
							<div class="location">							
								<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Establish Type</button>
								<div id="collapseFour" class="collapse" data-parent="#accordionfour">									
									<div class="filter-checkbox">
										<p>
										  <input type="checkbox" id="c30" name="cb">
										  <label for="c30">Cafe’s</label>
										</p>
										<p>
										  <input type="checkbox" id="c31" name="cb">
										  <label for="c31">Dhaba’s</label>
										</p>
										<p>
										  <input type="checkbox" id="c32" name="cb">
										  <label for="c32">Sweet Shopst</label>
										</p>
										<p>
										  <input type="checkbox" id="c33" name="cb">
										  <label for="c33">Fine Dinings</label>
										</p>
										<p>
										  <input type="checkbox" id="c34" name="cb">
										  <label for="c34">Casual Dinings</label>
										</p>
										<p>
										  <input type="checkbox" id="c35" name="cb">
										  <label for="c35">Bakeries</label>
										</p>
										<p>
										  <input type="checkbox" id="c36" name="cb">
										  <label for="c36">Bars</label>
										</p>
										<p>
										  <input type="checkbox" id="c37" name="cb">
										  <label for="c37">Vine Shops</label>
										</p>														
										<p>
										  <input type="checkbox" id="c38" name="cb">
										  <label for="c38">Halls</label>
										</p>																		
									</div>																		
								</div>
							</div>
						</div>
						<div class="accordion" id="accordionfive" hidden>
							<div class="location">							
								<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Restaurants offers</button>
								<div id="collapseFive" class="collapse" data-parent="#accordionfive">									
									<div class="filter-checkbox">
										<p>
										  <input type="checkbox" id="c39" name="cb">
										  <label for="c39">10% off</label>
										</p>
										<p>
										  <input type="checkbox" id="c40" name="cb">
										  <label for="c40">20% off</label>
										</p>
										<p>
										  <input type="checkbox" id="c41" name="cb">
										  <label for="c41">30% off</label>
										</p>
										<p>
										  <input type="checkbox" id="c42" name="cb">
										  <label for="c42">40% off</label>
										</p>
										<p>
										  <input type="checkbox" id="c43" name="cb">
										  <label for="c43">50% off</label>
										</p>
										<p>
										  <input type="checkbox" id="c44" name="cb">
										  <label for="c44">60% off</label>
										</p>
										<p>
										  <input type="checkbox" id="c45" name="cb">
										  <label for="c45">70% off</label>
										</p>
										<p>
										  <input type="checkbox" id="c46" name="cb">
										  <label for="c46">80% off</label>
										</p>																																									
									</div>																		
								</div>
							</div>
						</div>
						<div class="accordion" id="accordionsix">
							<div class="location">							
								<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Rating</button>
								<div id="collapseSix" class="collapse"  data-parent="#accordionsix">									
									<div class="filter-checkbox">
										<p>
										  <input type="checkbox" id="c47" name="five_star">
										  <label for="c47" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
										</p>
										<p>
										  <input type="checkbox" id="c48" name="four_star">
										  <label for="c48" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
										</p>
										<p>
										  <input type="checkbox" id="c49" name="three_star">
										  <label for="c49" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
										</p>
										<p>
										  <input type="checkbox" id="c50" name="two_star">
										  <label for="c50" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
										</p>
										<p>
										  <input type="checkbox" id="c51" name="one_star">
										  <label for="c51" class="rating-color"><i class="fas fa-star"></i></label>
										</p>																																																		
									</div>																		
								</div>
							</div>
						</div>
                        <button type="submit" class="btn btn-secondary" name ="search" style="float: right; margin-top: 3%; background-color: #ffa803;">Search</button>
					</div>
                    </form>
				</div>				
				<div class="col-lg-6 col-md-8">
                    {% for client in clients %}
					<div class="partner-section">
						<div class="partner-bar">
							<div class="partner-topbar">
								<div class="partner-dt">
									<a href="restaurant_detail.html"><img src="/static/images/partners/img-1.jpg" alt=""></a>
									<div class="partner-name">
                                        <p style ="color: #ffa803; margin-top: -1%;" >{{ client.category }}</p>
										<a href="restaurant_detail.html"><h4>{{ client.name }} </h4></a>
										<div class="country">{{ client.state }}, {{ client.city }}</div>
										<p><span><i class="fas fa-map-marker-alt"></i></span>{{ client.address1 }}</p>
										<div class="bagde-dt">
											<div class="partner-badge">
												Verified
											</div>
										</div>
									</div>
									<div class="online-offline" hidden>
										<p><span class="span-1 active"><i class="fas fa-circle"></i></span>Online</p>
									</div>
								</div>
							</div>
							<div class="partner-subbar">
								<div class="detail-text">
									<ul>
										<li>Open - Close : {{ client.workingHours }} ({{ client.workingDays }})</li>

										<li>Cuisines :
                                            {% for cuisine in clientcuisines|filterCuisines:client.userEmail %}
                                                {{ cuisine.cuisine }},
                                            {% endfor %}
                                                </li>
										<li>Reviews : <div class="review-stars">
											{% if client.rate >= 1 %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
                                            {% if client.rate >= 2 %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
                                            {% if client.rate >= 3 %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
											{% if client.rate >= 4 %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
                                            {% if client.rate == 5 %}
                                            <i class="fas fa-star"></i>
                                            {% endif %}
											<span>{{ client.rate }}</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="bookmark" hidden>
									<span><i class="far fa-bookmark"></i>Bookmark</span>
								</div>
							</div>
							<div class="partner-bottombar">
								<ul class="bottom-partner-links">
									<li><a href="{% url 'clientprofile' client.userEmail.username %}" data-toggle="tooltip" data-placement="top" title="Call Now"><i class="far fa-file-alt"></i></i>Go Detail</a></li>
									<li class="line-lr"><a href="#" data-toggle="tooltip" data-placement="top" title="Order Now"><i class="far fa-edit"></i></i>Add Review</a></li>
									<li><a href="#" data-toggle="tooltip" data-placement="top" title="View Menu"><i class="fas fa-book"></i>View Menu</a></li>
								</ul>
							</div>
						</div>
					</div>
                    {% endfor %}
					<div class="main-p-pagination" hidden>
						<nav aria-label="Page navigation example">
						  <ul class="pagination">
							<li class="page-item">
							  <a class="page-link" href="#" aria-label="Previous">
								<i class="fas fa-chevron-left"></i>
							  </a>
							</li>
							<li class="page-item"><a class="page-link active" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">...</a></li>
							<li class="page-item"><a class="page-link" href="#">24</a></li>
							<li class="page-item">
							  <a class="page-link" href="#" aria-label="Next">
								<i class="fas fa-chevron-right"></i>
							  </a>
							</li>
						  </ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="show-map-result" hidden>
						<a href="#">Show result on map</a>
					</div>
					<div class="popular-restaurants">
						<h4>Popular Restaurants </h4>
						<div class="popular-restaurants-items">
							<ul class="list-unstyled">
								<li>
									<a href="restaurant_detail.html"><img src="/static/images/partners/logo-1.jpg" class="img-responsive" alt="image" title="image"></a>
									<div class="caption">
										<a href="restaurant_detail.html"><h4>Restaurant Name</h4></a>
										<p>Sydney, Australia</p>
										<div class="star">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="far fa-star"></i>								
											<span>4.5</span> 											
										</div>
									</div>
								</li>
								<li>
									<a href="restaurant_detail.html"><img src="/static/images/partners/logo-2.jpg" class="img-responsive" alt="image" title="image"></a>
									<div class="caption">
										<a href="restaurant_detail.html"><h4>Restaurant Name</h4></a>
										<p>Sydney, Australia</p>
										<div class="star">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="far fa-star"></i>								
											<span>4.5</span> 											
										</div>
									</div>
								</li>
								<li>
									<a href="restaurant_detail.html"><img src="/static/images/partners/logo-3.jpg" class="img-responsive" alt="image" title="image"></a>
									<div class="caption">
										<a href="restaurant_detail.html"><h4>Restaurant Name</h4></a>
										<p>Sydney, Australia</p>
										<div class="star">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="far fa-star"></i>								
											<span>4.5</span> 											
										</div>
									</div>
								</li>
								<li>
									<a href="restaurant_detail.html"><img src="/static/images/partners/logo-4.jpg" class="img-responsive" alt="image" title="image"></a>
									<div class="caption">
										<a href="restaurant_detail.html"><h4>Restaurant Name</h4></a>
										<p>Sydney, Australia</p>
										<div class="star">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="far fa-star"></i>								
											<span>4.5</span> 											
										</div>
									</div>
								</li>
								<li>
									<a href="restaurant_detail.html"><img src="/static/images/partners/logo-5.jpg" class="img-responsive" alt="image" title="image"></a>
									<div class="caption">
										<a href="restaurant_detail.html"><h4>Restaurant Name</h4></a>
										<p>Sydney, Australia</p>
										<div class="star">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="far fa-star"></i>								
											<span>4.5</span> 											
										</div>
									</div>
								</li>
							</ul>					
						</div>							
					</div>
					<div class="google-ads" hidden>
						<a href="#"><img src="/static/images/partners/google-ad.jpg" alt="image" title="Google Ads"></a>
					</div>
				</div>
			</div>			
		</div>
	</section>
			
	<!--partners end-->
{% endblock %}

{% block content3 %}
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Assect scripts for this page-->
	<script src="/static/assets/owlcarousel/owl.carousel.js"></script>
	<script src="/static/js/owlslider.js"></script>
	<script src="/static/js/custom.js"></script>

    <script>
    function filter(type, value){
        $.ajax({
                    url: '{% url 'clientsearch' %}',
                    type: 'GET',
                    data: {
                        'type': type,
                        'value': value
                    },
                    dataType: 'json',
                });
    }
    </script>
{% endblock %}
