/build/
YeOrada/YeOrada/settings_local.py
YeOrada/.idea/*
YeOrada/__pycache__/*
YeOrada/YeOrada/__pycache__/*
YeOrada/YeOradaApp/__pycache__/*
YeOrada/YeOradaApp/migrations/__pycache__/*
YeOrada/YeOradaApp/templatetags/__pycache__/*
