@charset "UTF-8";

.bg {
  /* The image used */
  background-image: url(/YeOrada/resources/images/main.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.ct-main {
  position: relative;
}